:root {
    --primary-color: rgb(199, 223, 231);
    --primary-color-hovered: rgb(219, 243, 250);
    --secondary-color: white;
    --text-color: black;
}

body {
    margin: 0;
    height: 96vh;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    align-items: baseline;
    width: 25px;
    transition: width 0.1s linear;
    box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.38);
}

header:hover {
    width: 140px;
}

header a {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    text-decoration: none;
    color: var(--text-color);
    height: 40px;
    width: 100%;
    border-radius: 3px;
}

header a:hover {
    background-color: var(--primary-color-hovered);
    font-weight: bold;
}

header a:hover .material-symbols-outlined {
    font-variation-settings: 'FILL' 1;
}

header a p {
    display: none;
}

header:hover>a p {
    display: block;
    animation: fadeIn 0.5s;
}

.user {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    height: 40px;
}

.userContent {
    display: none;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

.logout:hover {
    background-color: rgba(246, 206, 206, 0.516);
}

.userContent span {
    color: red;
    width: 40px;
}

header:hover .userContent {
    display: flex;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.user {
    display: flex;
    gap: 2px;
}

.user a {
    text-decoration: none;
    color: var(--text-color);
}

main {
    display: flex;
    background-color: rgb(241, 241, 241);
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin-left: 46px;
    height: 100%;
}

.myDayContent {
    padding: 10px;
    margin: 20px 0px 20px 0;
    border-radius: 8px;
    background-color: var(--secondary-color);
}

.input {
    display: flex;
    align-items: center;
    gap: 10px;
}

.myDayContent button {
    width: 200px;
    height: 30px;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border-radius: 5px;
}

.myDayContent input[type="text"] {
    border: none;
    border-bottom: 1px solid var(--text-color);
    outline: none;
    width: 100%;
    padding: 5px;
    font-size: 16px;
}
.input input {
    width: 50px;
}

button,
.task {
    display: flex;
    align-items: center;
    gap: 5px;
}

.task, li {
    margin-top: 10px;
    border-bottom: 1px solid var(--primary-color);
    border-top: 1px solid var(--primary-color);
}

.task p {
    width: 100%;
}

input {
    width: 18px;
    height: 18px;
}

.opcoesTarefa {
    background-color: var(--primary-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opcoesTarefaButtons {
    display: none;
    flex-direction: column;
    position: fixed;
    gap: 5px;
    padding: 5px;
    transform: translateX(-43%) translateY(65%);
    animation: opcoes 0.3s;
}

.opcoesTarefa:hover .opcoesTarefaButtons {
    display: flex;
}

.opcoesTarefa div div {
    display: flex;
    gap: 5px;
    background-color: var(--primary-color);
    width: 250px;
    height: 35px;
}

.opcoesTarefa div div:hover {
    background-color: var(--primary-color-hovered);
    font-weight: bold;
}

.opcoesTarefa div div:hover .material-symbols-outlined {
    font-variation-settings: 'FILL' 1;

}

@keyframes opcoes {
    0% {
        opacity: 0;
        transform: translateX(0%) translateY(0%) scale(1%);
    }

    100% {
        opacity: 1;
        transform: translateX(-43%) translateY(60%) scale(100%);
    }
}


.opcoesTarefaButtons div {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 5px;
}