<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escola Hogwarts</title>
</head>
<body>
    <header>
        <div class="logoTexto">
            <img src="img/logo.png" alt="Logo da Escola Hogwarts">
            <h1>Escola Hogwarts</h1>
            <h5>A magia do aprender</h5>
        </div>
        <nav>
            <ul>
                <li><a href="/index">Página Inicial</a></li>
                <li><a href="#">Sobre Nós</a></li>
                <li><a href="#">Cursos</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
            <div>
                <a href="/login-aluno" class="login">Login Aluno</a>
                <a href="/login-professor" class="login">Login Professor</a>
                <a href="/login-adm" class="login">Login Administração</a>
            </div>
        </nav>
    </header>
</body>
</html>
