.login-container {
    background-color: #740001;
    background-image: url("img/background.jpg");
    color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%; /* Ajuste para 80% da largura da tela */
    max-width: 500px; /* Limitando a largura máxima */
    margin: 0 auto;
    margin-top: 40vh;
}

.form-group {
    margin-bottom: 20px; /* Aumento do espaçamento entre grupos de formulários */
}

input[type="text"],
input[type="password"],
input[type="CPF"],
input[type="e-mail"] {
    width: calc(100% - 20px); /* Removendo a borda do tamanho total */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px; /* Aumento do espaçamento inferior */
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s; /* Adicionando transição de sombra */
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adicionando uma sombra suave */
}
